{% extends "base.html" %}
{% load static %}

{% block title %} cart-page {% endblock title %}

{% block main %}

    <!-- cart section starts -->

    <section id="cart" class="mt-20">
        <div class="container">
            <div class="flex flex-col justify-between md:flex-row md:px-3">

                <div class="flex flex-col border md:w-2/3">

                    {% for fpfc in fetch_product_from_cart %}

                    {% if fpfc %}

                    <div id="remove_cart" class="row">
                        <div class="col   flex border shadow-sm ">
                            <img src="{{fpfc.product.img.url}}" alt="nothing phone" class="w-32 h-32">
                            <div class="cart_text_price w-2/3 flex flex-col ">
                                <h1>{{fpfc.product.name}}</h1>
                                <small ><span class="font-medium">MODEL: </span>{{fpfc.product.model}}</small>
                                <small class="mb-5">BRAND: {{fpfc.product.brand}}</small>
                                <div class=" quantity_parent puls_minus flex items-center space-x-3 w-20 border-2">
                                    <p class="text-sm ml-2 quantity-product" >{{fpfc.quantity}}</p>
                                    <div>
                                        <i value="prod-id" pid="{{fpfc.product.id}}"   class="plus-quantity fa-solid text-sm cursor-pointer fa-plus"></i>
                                        <i value="prod-id" pid="{{fpfc.product.id}}" class=" minus-quantity fa-solid text-sm ml-2 cursor-pointer fa-minus"></i>
                                    </div>
                                </div>
                            </div>

                            <div class="flex flex-col py-2 justify-between md:pr-4">
                                <span>{{fpfc.product.price}}৳</span>
                                <a href="#" value="prod-id" pid="{{fpfc.product.id}}" class="remove_btn text-red-600 border-b border-c_primary hover:border-red-600">remove</a>
                            </div>

                        </div>
                    </div>

                    {% else %}
                   <h2>there are no cart product</h2>
                    {% endif %}                    
                    {% endfor %}

                </div>

                <!-- cart summary -->
                <div class="cart_summary md:w-1/3">
                    <div class="summary px-12 md:px-4 py-2 md:py-4 my-5 md:my-0 md:ml-2 bg-c_gray rounded-md ">
                        <div class="div flex justify-between px-1 py-1">
                            <span>Total Item: </span> <small>{{product_count}}</small>
                        </div>
                        <div class="div flex justify-between px-1 py-1">
                            <span>Subtotal : </span> <small id="amount" >{{amount}} $</small>
                        </div>
                        <hr class="h-[.1rem] my-1 bg-cyan-100">
                        <div class="div flex justify-between px-1 py-1">
                            <span class="font-bold">Total: </span> <small id="totalamount" >{{amount}} ৳</small>
                        </div>

                        <div class="div border mt-4">
                            <form action="{% url "payment:order_save" %}" class="" method="GET">
                                <button class="bg-c_primary uppercase py-1 block w-full text-center text-white" {% if show_chekout_btn == False %} disabled {% endif %} >chekout</button>

                            </form>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </section>

    <!-- cart section ends -->


{% endblock main %}




