{% extends 'base.html' %}
{% load static %}
{% block title %}Change Password{% endblock title %}
{% block main %}

<section id="change_pass">
    <div class="container mt-20">
        <div class="row my-3">
         <div class="col-sm-6 offset-sm-3">
          <h3 class="text-center text-c_primary mb-4 font-bold">Change Password</h3>
          <hr>
          <form action="" method="POST" novalidate class="shadow p-5">
       
           {% csrf_token %}
       
             {% if form.non_field_errors %}
             {% for error in form.non_field_errors %}
             <p class="alert alert-danger my-3">{{error}}</p>
             {% endfor %}
             {% endif %}
       
             {% for fm in form %}
             {{fm.label_tag}} {{fm}} <small class="text-danger">{{fm.errors | striptags}}</small> <br>
             {% endfor %}
       
           <input type="submit" class="btn_fill mt-4" value="Login">
           <br>
          </form>
         </div>
        </div>
       </div>
</section>


{% endblock main %}