{% extends 'base.html' %}
{% load static %}

{% block title %}Password Change Done{% endblock title %}

{% block main %}

<section id="change_pass_done">
    <div class="container mt-20">
        <div class="row my-3">
         <div class="col-sm-6 offset-sm-3">
          <h3 class="text-center text-c_primary mb-4 font-bold">Password Change Done</h3>
          <hr>
          <h4 class="bg-success text-center p-4 rounded">Successfully changed your password!!</h4>
         </div>
        </div>
       </div>
</section>

{% endblock main %}