{% extends 'base.html' %}
{% block title %}password reset complete{% endblock title %}
{% block main-content %}
<h3 class="bg-c_primary text-center">Welldone!!</h3>
<h3 class="text-center">password reset confirm</h3>
<form action="" method="POST" novalidate>

    {% csrf_token %}

      {% if form.non_field_errors %}
      {% for error in form.non_field_errors %}
      <p class="alert alert-danger my-3">{{error}}</p>
      {% endfor %}
      {% endif %}

      {% for fm in form %}
      {{fm.label_tag}} {{fm}} <small class="text-danger">{{fm.errors | striptags}}</small> <br>
      {% endfor %}

      <input type="submit" class="bg-c_primary text-white py-1 px-2 text-xs  lg:text-sm rounded" value="Login">


</form>

{% endblock main-content %}