{% extends "base.html" %}
{% load static %}


{% block main %}

    <section id="profile" class="profile mt-20">
        <div class="container">
        <h3 class="text-center mb-3">Hello, <span class="text-c_primary ">{{request.user}},</span> you can maintain your needs from this profile section.</h3>
        
        <div class="bg-white w-full flex items-center justify-between">
            <div class="sm:px-4 md:px-4 px-6 max-w-5xl mx-auto">
                 <div class="grid md:grid-cols-4 grid-cols-1">
                      <div class="col-span-1 mr-2">

                           <button class="flex bg-white hover:bg-gray-100 border rounded-lg w-full h-22 py-4 px-4 my-2 items-center focus:outline-none focus:ring focus:ring-c_primary" onclick="openTabs('step-1')">
                                <div class="flex items-center justify-center rounded-lg w-14 h-14 bg-gray-200 font-semibold text-black">01</div>
                                <div class="flex items-center h-full pl-4">
                                     <span class="text-base font-semibold">Account</span> 
                                </div>
                           </button>
            
                           <button class="flex bg-white hover:bg-gray-100 border rounded-lg w-full h-22 py-4 px-4 my-2 items-center focus:outline-none focus:ring focus:ring-c_primary" onclick="openTabs('step-2')">
                                <div class="flex items-center justify-center rounded-lg w-14 h-14 bg-gray-200 font-semibold text-black">02</div>
                                <div class="flex items-center h-full pl-4">
                                     <span class="text-base font-semibold">Order</span>
                                </div>
                           </button>
            
                           <button class="flex bg-white hover:bg-gray-100 border rounded-lg w-full h-22 py-4 px-4 my-2 items-center focus:outline-none focus:ring focus:ring-c_primary" onclick="openTabs('step-3')">
                                <div class="flex items-center justify-center rounded-lg w-14 h-14 bg-gray-200 font-semibold text-black">03</div>
                                <div class="flex items-center h-full pl-4">
                                     <span class="text-base font-semibold">Track Order</span> 
                                </div>
                           </button>
                      </div>
                              <!-- account -->

                      <div id="step-1" class="col-span-3 flex items-center justify-center border border-c_primary rounded-lg step-tab">
                           <div class="px-8">
                                <h4 class="text-2xl font-semibold mb-6">Manage your account</h4>
                                <a href="{% url "changepassword" %}" class="btn_fill ">Change Password</a>
                           </div> 
                           <div class="px-8">
                                <h4 class="text-2xl font-semibold mb-6">Log out</h4>
                                <a href="{% url "logout" %}" class="btn_fill ">Log out</a>
                           </div>
                      </div>

                         <!-- order -->

                      <div id="step-2" class="col-span-3 px-3 border border-c_primary rounded-lg step-tab" style="display:none">
                           <div class="px-8">
                                <h4 class="text-2xl text-center font-semibold">Know about your orders</h4>
                           </div>
                           <div class="mt-6">
                              <p class="font-bold">Name: {{name}}</p>
                              <p class="font-bold">phone: {{phone}}</p>
                              <p class="font-bold">email: {{email}}</p>
                              <p class="font-bold">order_id: {{order_id}}</p>
                              <p class="font-bold">transaction id: {{trans_id}}</p>
                              <p class="font-bold">address: {{division}}, {{district}} {{address}}</p>
                              <p class="font-bold">price: {{price}}</p>
                              <p class="font-bold">product: {{product}}</p>

                           </div>
                      </div>

                         <!-- track order -->

                      <div id="step-3" class="col-span-3 border border-c_primary rounded-lg step-tab" style="display:none">
                           <div class="px-8">
                                <h4 class="text-2xl mb-8 font-semibold">Track your order</h4>
                                <div class="">
                                   <h1><b>Order status: </b>{{status}}</h1>
                                   {% if paid %}
                                   <h1><b>payid: </b>yes </h1>
                                   {% else %}
                                   <h1><b>payid: </b> no</h1>
                                   {% endif %}
                                   <h1><b>pay_system: </b> {{pay_system}}</h1>
                                   <h1><b>order date: </b> {{created_at}}</h1>
                                </div>
                           </div>
                      </div>

                 </div>
            </div>

        </div>
    </section>

{% endblock main %}