{% extends "base.html" %}
{% load static %}

{% block title %} featured categories{% endblock title %}


{% block main %}


<section id="feature_cate">
    <div class="container mt-20">
        <div class="feature_cate_text">
            <h1 class="font-bold text-xl my-10 text-center">
                {{name}}
            </h1>
        </div>

        <div class="container">
            <div class="grid grid-cols-2 ml-2 md:grid-cols-3 lg:grid-cols-4 gap-y-3 ">
    
                {% if  get_fea_prod %}

                {% for g_f_p in get_fea_prod %}
                <div class="card border m-auto hover:shadow-lg rounded-md transition duration-200 py-5 px-8 relative">

                    <div class="absolute -top-0 left-0 border  py-1 px-2 bg-c_primary"><p class="text-xs lg:text-sm text-white">{{g_f_p.offer_percent}} OFF</p></div>

                    <div>
                        <a href="{% url "prod_detail" g_f_p.id g_f_p.name %}" class="w-[145px] h-[145px] group">
                            <img src="{{g_f_p.img.url}}" alt="" style="width:8rem; height:8rem" />
                            <small class="group-hover:text-c_primary">{{g_f_p.name}}</small>
                        </a>
                    </div>

                    <div class="price my-2 ">
                        <span>price: <small class="text-c_primary font-bold">{{g_f_p.price}} </small></span>
                        
                        <del><small class="text-c_primary font-bold">{{g_f_p.discounted_price}}</small></del>
                    </div>
                        <div class=" flex flex-col text-center gap-2">
                            <a href="{% url "order_now"  g_f_p.id g_f_p.name %}" class="btn_fill text-white">Order Now</a>
                            <button value="prod-id" pid="{{g_f_p.id}}" pname="{{g_f_p.name}}" id="add_to_cart" class=" add_to_cart btn_fill text-white">Add to card</button>
                        </div>
                </div>
                {% endfor %}
                
                {% else %}

                <div class="bg-c_primary mt-5 px-4 py-4 rounded-lg shadow-lg mx-auto w-full ">
                    <h4 class="text-white fon-bold">Sorry, there are no products!</h4>
                </div>

                {% endif %}

            </div>

        </div>
    </div>
</section>


{% endblock main %}


