
{% extends "base.html" %}

{% load static %}

{% block title %}Home{% endblock title %}

{% block main %}

    <!-- hero banner starts -->

    {% comment %} <div class="container lg:ml-10 mt-20 md:mt-24 flex items-center gap-2">
        <swiper-container class="w-2/3 border">
          
            <div class="swiper mySwiper">
                <div class="swiper-wrapper">

                    {% for m_banner in main_banners %}
                  <div class="swiper-slide"><a href="{% url "prod_detail" m_banner.product.id m_banner.product.name %}"><img class="h-[380px] w-full" src="{{m_banner.image.url}}"
                    alt="" /></a></div>
                    {% endfor %}

                </div>

                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
                <div class="swiper-pagination"></div>
            </div>


        </swiper-container>

        <div class="banner_right_side w-1/3">
            {% for side_banner in side_banners %}
            <a href="{% url "prod_detail" side_banner.product.id side_banner.product.name %}"><img src="{{side_banner.image.url}}" alt="side_banner" /></a>
            {% endfor %}
        </div>
    </div> {% endcomment %}

    <!-- hero banner ends -->

    <!-- featured categories starts -->

    <section id="feature">
        <div class="container">
            <div class="feature_txt text-center ml-2 my-10">
                <h1 class="font-bold">FEATURED CATEGORIES</h1>
                <p >Get your desired product from featured category</p>
            </div>

            <!-- feature categories starts -->
            <div class="grid ml-2 grid-cols-3 md:grid-cols-4 space-x-2 space-y-5 ">

                {% for feac in featured_category %}
                <div class="bg-c_gray py-4 px-6 rounded hover:bg-c_primary transition duration-200 m-auto">
                    <a href="{% url "featured_cate" feac.name %}" class="feature_card block">
                        <img src="{{feac.image.url}}" alt="" class="w-20 h-20" />
                        <h4 class="text-center mt-3 font-bold">{{feac.name.name}}</h4>
                    </a>
                </div>
                {% endfor %}

            </div>
        </div>
    </section>

    <!-- featured categories ends -->

    <!-- genrarel products starts -->

    <section id="genrarel_products">
            <div class="container mt-[20vw] md:mt-[6vw] mb-10">
                <div class="new_arri_text">
                    <h1 class="font-bold text-xl my-10 text-center">
                        Products
                    </h1>
                </div>
    

                <div class=" overflow-hidden flex justify-around items-center gap-y-4 gap-x-0 flex-wrap">
                    {% for p_w_f in products_without_feature %}
                    <div class="card border hover:shadow-lg rounded-md transition duration-200 py-5 px-1 relative w-[48.4vw] h-[64vh] md:w-[32.4vw] md:h-[63vh] md:px-4 lg:w-[24.4vw] lg:h-[66vh] xl:w-[18.7vw] xl:h-[58vh]">

                        <!-- offer percentize element -->
                        {% if p_w_f.offer_percent %}
                        <div class="absolute -top-0 left-0 border py-1 px-2 bg-c_primary flex items-center"> <img src="{% static "../static/img/minus.png" %}" alt="minus" class="w-4"> <p class="text-xs lg:text-sm text-white">{{p_w_f.offer_percent}}</p>
                        </div>
                        {% endif %}
                        
                        <!-- out of stock element -->
                        {% if p_w_f.in_stock == 0 %}
                        <div class="absolute top-16 right-6 border border-c_primary py-1 px-2 bg-black"><p class="text-xs lg:text-sm text-white">Out of Stock </p>
                        </div>
                        {% endif %}

                        <div >
                            <a href="{% url "prod_detail" p_w_f.id p_w_f.name %}" class="w-[145px] h-[145px] group">
                                <img src="{{p_w_f.img.url}}" alt="" class="h-36 w-32 m-auto" />

                                <small class="group-hover:text-c_primary">{{p_w_f.name | truncatewords:5}}</small>
                            </a>
                        </div>

                        <div class="price my-2 flex justify-evenly items-center">
                            <del><small class=" font-bold">৳{{p_w_f.discounted_price}}</small></del>
                            <p class="text-c_primary font-extrabold">৳{{p_w_f.price}}</p>
                            <small class=" md:block">sold:0</small>
                        </div>

                        <div class="ratings mb-2">
                            <ul class="flex justify-center items-center gap-4">
                                <li><img src="{% static "img/icon-1.png" %}" alt=""></li>
                                <li><img src="{% static "img/icon-1.png" %}" alt=""></li>
                                <li><img src="{% static "img/icon-1.png" %}" alt=""></li>
                                <li><img src="{% static "img/icon-2.png" %}" alt=""></li>
                                <li><img src="{% static "img/icon-2.png" %}" alt=""></li>
                            </ul>
                        </div>
                        
                        <div class=" flex flex-col text-center gap-2">
                            <a href="{% url "order_now"  p_w_f.id p_w_f.name %}" class="btn_empty hover:text-white hover:bg-c_primary hover:border hover:border-c_primary ">Order Now</a>
                            <button value="prod-id" pid="{{p_w_f.id}}" pname="{{p_w_f.name}}" id="add_to_cart" class=" add_to_cart btn_fill hover:text-black hover:bg-white hover:border hover:border-c_primary ">Add to card</button>
                        </div>

                    </div>
                    {% endfor %}
                </div>

    
            </div>
    </section>
    
    <!-- genrarel products ends -->
    

    <!-- Featured Products starts -->

    <section id="feature_products">
        <div class="container my-10">
            <div class="fea_pro_text">
                <h1 class="text-center text-xl font-bold">Featured Products</h1>
            </div>

            <!-- Tab btns starts-->

            <div class="tab_box my-4 flex justify-center gap-3">
                <button class="tab_btn text-xs md:text-sm font-medium active_btn hover:c_primary">
                    NEW ARRIVAL
                </button>
                <button class="tab_btn text-xs md:text-sm font-medium hover:text-c_primary">
                    DEAL OF THE DAY
                </button>
                <button class="tab_btn text-xs md:text-sm font-medium hover:text-c_primary">
                    BEST DEALS
                </button>
                <button class="tab_btn text-xs md:text-sm font-medium hover:text-c_primary">
                    BEST SELLERS
                </button>
            </div>
            <!-- Tab btns ends -->

            <!-- products card -->
            <div class="produc_cards_box">
                <!-- new arrival -->

                <div class="active_produc_card content">
                    
                    <div class=" overflow-hidden flex justify-around items-center gap-y-4 gap-x-0 flex-wrap">
                        {% for new_arr in new_arrival %}
                        <div class="card border hover:shadow-lg rounded-md transition duration-200 py-5 px-1 relative w-[48.4vw] h-[64vh] md:w-[32.4vw] md:h-[63vh] md:px-4 lg:w-[24.4vw] lg:h-[66vh] xl:w-[18.7vw] xl:h-[58vh]">
    
                            <!-- offer percentize element -->
                            {% if new_arr.offer_percent %}
                            <div class="absolute -top-0 left-0 border py-1 px-2 bg-c_primary flex items-center"> <img src="{% static "../static/img/minus.png" %}" alt="minus" class="w-4"> <p class="text-xs lg:text-sm text-white">{{new_arr.offer_percent}}</p>
                            </div>
                            {% endif %}
                            
                            <!-- out of stock element -->
                            {% if new_arr.in_stock == 0 %}
                            <div class="absolute top-16 right-6 border border-c_primary py-1 px-2 bg-black"><p class="text-xs lg:text-sm text-white">Out of Stock </p>
                            </div>
                            {% endif %}
    
                            <div >
                                <a href="{% url "prod_detail" new_arr.id new_arr.name %}" class="w-[145px] h-[145px] group">
                                    <img src="{{new_arr.img.url}}" alt="" class="h-36 w-32 m-auto" />
    
                                    <small class="group-hover:text-c_primary">{{new_arr.name | truncatewords:5}}</small>
                                </a>
                            </div>
    
                            <div class="price my-2 flex justify-evenly items-center">
                                <del><small class=" font-bold">৳{{new_arr.discounted_price}}</small></del>
                                <p class="text-c_primary font-extrabold">৳{{new_arr.price}}</p>
                                <small class=" md:block">sold:0</small>
                            </div>
    
                            <div class="ratings mb-2">
                                <ul class="flex justify-center items-center gap-4">
                                    <li><img src="{% static "img/icon-1.png" %}" alt=""></li>
                                    <li><img src="{% static "img/icon-1.png" %}" alt=""></li>
                                    <li><img src="{% static "img/icon-1.png" %}" alt=""></li>
                                    <li><img src="{% static "img/icon-2.png" %}" alt=""></li>
                                    <li><img src="{% static "img/icon-2.png" %}" alt=""></li>
                                </ul>
                            </div>
                            
                            <div class=" flex flex-col text-center gap-2">
                                <a href="{% url "order_now" new_arr.id new_arr.name %}" class="btn_empty hover:text-white hover:bg-c_primary hover:border hover:border-c_primary ">Order Now</a>
                                <button value="prod-id" pid="{{new_arr.id}}" pname="{{new_arr.name}}" id="add_to_cart" class=" add_to_cart btn_fill hover:text-black hover:bg-white hover:border hover:border-c_primary ">Add to card</button>
                            </div>
    
                        </div>
                        {% endfor %}
                    </div>
                </div>

                <!-- DEAL OF THE DAY -->
                <div class=" content">
                    
                    <div class=" overflow-hidden flex justify-around items-center gap-y-4 gap-x-0 flex-wrap">
                        {% for deal in deal_of_day %}
                        <div class="card border hover:shadow-lg rounded-md transition duration-200 py-5 px-1 relative w-[48.4vw] h-[64vh] md:w-[32.4vw] md:h-[63vh] md:px-4 lg:w-[24.4vw] lg:h-[66vh] xl:w-[18.7vw] xl:h-[58vh]">
    
                            <!-- offer percentize element -->
                            {% if deal.offer_percent %}
                            <div class="absolute -top-0 left-0 border py-1 px-2 bg-c_primary flex items-center"> <img src="{% static "../static/img/minus.png" %}" alt="minus" class="w-4"> <p class="text-xs lg:text-sm text-white">{{deal.offer_percent}}</p>
                            </div>
                            {% endif %}
                            
                            <!-- out of stock element -->
                            {% if deal.in_stock == 0 %}
                            <div class="absolute top-16 right-6 border border-c_primary py-1 px-2 bg-black"><p class="text-xs lg:text-sm text-white">Out of Stock </p>
                            </div>
                            {% endif %}
    
                            <div >
                                <a href="{% url "prod_detail" deal.id deal.name %}" class="w-[145px] h-[145px] group">
                                    <img src="{{deal.img.url}}" alt="" class="h-36 w-32 m-auto" />
    
                                    <small class="group-hover:text-c_primary">{{deal.name | truncatewords:5}}</small>
                                </a>
                            </div>
    
                            <div class="price my-2 flex justify-evenly items-center">
                                <del><small class=" font-bold">৳{{deal.discounted_price}}</small></del>
                                <p class="text-c_primary font-extrabold">৳{{deal.price}}</p>
                                <small class=" md:block">sold:0</small>
                            </div>
    
                            <div class="ratings mb-2">
                                <ul class="flex justify-center items-center gap-4">
                                    <li><img src="{% static "img/icon-1.png" %}" alt=""></li>
                                    <li><img src="{% static "img/icon-1.png" %}" alt=""></li>
                                    <li><img src="{% static "img/icon-1.png" %}" alt=""></li>
                                    <li><img src="{% static "img/icon-2.png" %}" alt=""></li>
                                    <li><img src="{% static "img/icon-2.png" %}" alt=""></li>
                                </ul>
                            </div>
                            
                            <div class=" flex flex-col text-center gap-2">
                                <a href="{% url "order_now"  deal.id deal.name %}" class="btn_empty hover:text-white hover:bg-c_primary hover:border hover:border-c_primary ">Order Now</a>
                                <button value="prod-id" pid="{{deal.id}}" pname="{{deal.name}}" id="add_to_cart" class=" add_to_cart btn_fill hover:text-black hover:bg-white hover:border hover:border-c_primary ">Add to card</button>
                            </div>
    
                        </div>
                        {% endfor %}
                    </div>
                </div>

                <!-- BEST DEALS -->
                <div class=" content">
                    
                    <div class=" overflow-hidden flex justify-around items-center gap-y-4 gap-x-0 flex-wrap">
                        {% for best_d in best_deal %}
                        <div class="card border hover:shadow-lg rounded-md transition duration-200 py-5 px-1 relative w-[48.4vw] h-[64vh] md:w-[32.4vw] md:h-[63vh] md:px-4 lg:w-[24.4vw] lg:h-[66vh] xl:w-[18.7vw] xl:h-[58vh]">
    
                            <!-- offer percentize element -->
                            {% if best_d.offer_percent %}
                            <div class="absolute -top-0 left-0 border py-1 px-2 bg-c_primary flex items-center"> <img src="{% static "../static/img/minus.png" %}" alt="minus" class="w-4"> <p class="text-xs lg:text-sm text-white">{{best_d.offer_percent}}</p>
                            </div>
                            {% endif %}
                            
                            <!-- out of stock element -->
                            {% if best_d.in_stock == 0 %}
                            <div class="absolute top-16 right-6 border border-c_primary py-1 px-2 bg-black"><p class="text-xs lg:text-sm text-white">Out of Stock </p>
                            </div>
                            {% endif %}
    
                            <div >
                                <a href="{% url "prod_detail" best_d.id best_d.name %}" class="w-[145px] h-[145px] group">
                                    <img src="{{best_d.img.url}}" alt="" class="h-36 w-32 m-auto" />
    
                                    <small class="group-hover:text-c_primary">{{best_d.name | truncatewords:5}}</small>
                                </a>
                            </div>
    
                            <div class="price my-2 flex justify-evenly items-center">
                                <del><small class=" font-bold">৳{{best_d.discounted_price}}</small></del>
                                <p class="text-c_primary font-extrabold">৳{{best_d.price}}</p>
                                <small class=" md:block">sold:0</small>
                            </div>
    
                            <div class="ratings mb-2">
                                <ul class="flex justify-center items-center gap-4">
                                    <li><img src="{% static "img/icon-1.png" %}" alt=""></li>
                                    <li><img src="{% static "img/icon-1.png" %}" alt=""></li>
                                    <li><img src="{% static "img/icon-1.png" %}" alt=""></li>
                                    <li><img src="{% static "img/icon-2.png" %}" alt=""></li>
                                    <li><img src="{% static "img/icon-2.png" %}" alt=""></li>
                                </ul>
                            </div>
                            
                            <div class=" flex flex-col text-center gap-2">
                                <a href="{% url "order_now"  best_d.id best_d.name %}" class="btn_empty hover:text-white hover:bg-c_primary hover:border hover:border-c_primary ">Order Now</a>
                                <button value="prod-id" pid="{{best_d.id}}" pname="{{best_d.name}}" id="add_to_cart" class=" add_to_cart btn_fill hover:text-black hover:bg-white hover:border hover:border-c_primary ">Add to card</button>
                            </div>
    
                        </div>
                        {% endfor %}
                    </div>
                </div>

                <!-- BEST SELLERS -->
                <div class=" content">
                    
                    <div class=" overflow-hidden flex justify-around items-center gap-y-4 gap-x-0 flex-wrap">
                        {% for best_s in best_sellers %}
                        <div class="card border hover:shadow-lg rounded-md transition duration-200 py-5 px-1 relative w-[48.4vw] h-[64vh] md:w-[32.4vw] md:h-[63vh] md:px-4 lg:w-[24.4vw] lg:h-[66vh] xl:w-[18.7vw] xl:h-[58vh]">
    
                            <!-- offer percentize element -->
                            {% if best_s.offer_percent %}
                            <div class="absolute -top-0 left-0 border py-1 px-2 bg-c_primary flex items-center"> <img src="{% static "../static/img/minus.png" %}" alt="minus" class="w-4"> <p class="text-xs lg:text-sm text-white">{{best_s.offer_percent}}</p>
                            </div>
                            {% endif %}
                            
                            <!-- out of stock element -->
                            {% if best_s.in_stock == 0 %}
                            <div class="absolute top-16 right-6 border border-c_primary py-1 px-2 bg-black"><p class="text-xs lg:text-sm text-white">Out of Stock </p>
                            </div>
                            {% endif %}
    
                            <div >
                                <a href="{% url "prod_detail" best_s.id best_s.name %}" class="w-[145px] h-[145px] group">
                                    <img src="{{best_s.img.url}}" alt="" class="h-36 w-32 m-auto" />
    
                                    <small class="group-hover:text-c_primary">{{best_s.name | truncatewords:5}}</small>
                                </a>
                            </div>
    
                            <div class="price my-2 flex justify-evenly items-center">
                                <del><small class=" font-bold">৳{{best_s.discounted_price}}</small></del>
                                <p class="text-c_primary font-extrabold">৳{{best_s.price}}</p>
                                <small class=" md:block">sold:0</small>
                            </div>
    
                            <div class="ratings mb-2">
                                <ul class="flex justify-center items-center gap-4">
                                    <li><img src="{% static "img/icon-1.png" %}" alt=""></li>
                                    <li><img src="{% static "img/icon-1.png" %}" alt=""></li>
                                    <li><img src="{% static "img/icon-1.png" %}" alt=""></li>
                                    <li><img src="{% static "img/icon-2.png" %}" alt=""></li>
                                    <li><img src="{% static "img/icon-2.png" %}" alt=""></li>
                                </ul>
                            </div>
                            
                            <div class=" flex flex-col text-center gap-2">
                                <a href="{% url "order_now"  best_s.id best_s.name %}" class="btn_empty hover:text-white hover:bg-c_primary hover:border hover:border-c_primary ">Order Now</a>
                                <button value="prod-id" pid="{{best_s.id}}" pname="{{best_s.name}}" id="add_to_cart" class=" add_to_cart btn_fill hover:text-black hover:bg-white hover:border hover:border-c_primary ">Add to card</button>
                            </div>
    
                        </div>
                        {% endfor %}
                    </div>
                </div>


            </div>
        </div>
    </section>

    <!-- Featured Products ends -->

    <!-- add banner -->
    <section id="banner">
        <div class="container">
            <div class="flex gap-x-4 flex-col md:flex-row">
                {% for banner in add_banners %}
                <div><a href="{% url "prod_detail" banner.product.id banner.product.name %}"><img class="w-full h-full" src="{{banner.image.url}}" alt=""></a></div>
                {% endfor %}
            </div>
        </div>
    </section>

    <!-- new arrival gadgets starts -->

    <section id="new_arrival_gadgets">
        <div class="container my-10">
            <div class="new_arri_text">
                <h1 class="font-bold text-xl my-10 text-center">
                    New Arrival Gadgets
                </h1>
            </div>

            <div class="new-arrival_gadgets">
                
                <div class=" overflow-hidden flex justify-around items-center gap-y-4 gap-x-0 flex-wrap">
                    {% for new_ar_g in new_arrival_gadget %}
                    <div class="card border hover:shadow-lg rounded-md transition duration-200 py-5 px-1 relative w-[48.4vw] h-[64vh] md:w-[32.4vw] md:h-[63vh] md:px-4 lg:w-[24.4vw] lg:h-[66vh] xl:w-[18.7vw] xl:h-[58vh]">

                        <!-- offer percentize element -->
                        {% if new_ar_g.offer_percent %}
                        <div class="absolute -top-0 left-0 border py-1 px-2 bg-c_primary flex items-center"> <img src="{% static "../static/img/minus.png" %}" alt="minus" class="w-4"> <p class="text-xs lg:text-sm text-white">{{new_ar_g.offer_percent}}</p>
                        </div>
                        {% endif %}
                        
                        <!-- out of stock element -->
                        {% if new_ar_g.in_stock == 0 %}
                        <div class="absolute top-16 right-6 border border-c_primary py-1 px-2 bg-black"><p class="text-xs lg:text-sm text-white">Out of Stock </p>
                        </div>
                        {% endif %}

                        <div >
                            <a href="{% url "prod_detail" new_ar_g.id new_ar_g.name %}" class="w-[145px] h-[145px] group">
                                <img src="{{new_ar_g.img.url}}" alt="" class="h-36 w-32 m-auto" />

                                <small class="group-hover:text-c_primary">{{new_ar_g.name | truncatewords:5}}</small>
                            </a>
                        </div>

                        <div class="price my-2 flex justify-evenly items-center">
                            <del><small class=" font-bold">৳{{new_ar_g.discounted_price}}</small></del>
                            <p class="text-c_primary font-extrabold">৳{{new_ar_g.price}}</p>
                            <small class=" md:block">sold:0</small>
                        </div>

                        <div class="ratings mb-2">
                            <ul class="flex justify-center items-center gap-4">
                                <li><img src="{% static "img/icon-1.png" %}" alt=""></li>
                                <li><img src="{% static "img/icon-1.png" %}" alt=""></li>
                                <li><img src="{% static "img/icon-1.png" %}" alt=""></li>
                                <li><img src="{% static "img/icon-2.png" %}" alt=""></li>
                                <li><img src="{% static "img/icon-2.png" %}" alt=""></li>
                            </ul>
                        </div>
                        
                        <div class=" flex flex-col text-center gap-2">
                            <a href="{% url "order_now"  new_ar_g.id new_ar_g.name %}" class="btn_empty hover:text-white hover:bg-c_primary hover:border hover:border-c_primary ">Order Now</a>
                            <button value="prod-id" pid="{{new_ar_g.id}}" pname="{{new_ar_g.name}}" id="add_to_cart" class=" add_to_cart btn_fill hover:text-black hover:bg-white hover:border hover:border-c_primary ">Add to card</button>
                        </div>

                    </div>
                    {% endfor %}
                </div>

            </div>

        </div>
    </section>

    <!-- new arrival gadgets ends -->

    <!-- shop by brand starts -->

    <section id="shop_by_brand">
        <div class="container">
            <div class="shop_by_brand_text">
                <h1 class="font-bold text-xl text-center my-10">
                    Shop By Brands
                </h1>
            </div>

            <div class="container grid grid-cols-3 md:grid-cols-6 lg:grid-cols-8 gap-3">
                {% for brand in shop_by_brand %}
                <div class="border hover:border-c_primary transition rounded-md"><a href="{% url "shop_by_brand"  brand.name %}"><img src="{{brand.image_link.url}}" alt=""></a></div>
                {% endfor %}

            </div>
        </div>
    </section>

    <!-- shop by brand  ends -->

{% endblock main %}