
{% extends "base.html" %}
{% load static %}

{% block title %}
products by category 
{% endblock title %}

{% block main %}

    <!-- full shop category starts -->

    <section id="full_shop_cate">
        <div class="container">
            <div class="row mt-20 mb-10">
                <div class="col lg:flex lg:justify-between">
                    <div class="shop_cate lg:ml-2 hidden lg:block">
                        <div class="wrapper m-auto py-3 px-5 rounded-sm bg-c_gray">
                            <h1 class="font-bold text-2xl">{{cate_name}}</h1>
                            <div class="div mt-4">
                                <ul class="space-y-2">

                                    {% for sub_cate in sub_category %}
                                    <li><a href="{% url "prod_by_subcate"  sub_cate.id sub_cate.name %}" class="font-semibold hover:text-c_primary border-b hover:border-c_primary">{{sub_cate.name}}</a></li>                                    
                                    {% endfor %}

                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="shop_product ">
                        <div class="overflow-hidden flex justify-around items-center gap-y-4 gap-x-0 flex-wrap ">

                            {% if product_cate %}

                            {% for prod_c in product_cate %}
                            
                            <div class="card border hover:shadow-lg rounded-md transition duration-200 py-5 px-1 relative w-[48.4vw] h-[64vh] md:w-[32.4vw] md:h-[63vh] md:px-4 lg:w-[24.4vw] lg:h-[66vh] xl:w-[18.7vw] xl:h-[58vh]">
        
                                <!-- offer percentize element -->
                                {% if prod_c.offer_percent %}
                                <div class="absolute -top-0 left-0 border py-1 px-2 bg-c_primary flex items-center"> <img src="{% static "../static/img/minus.png" %}" alt="minus" class="w-4"> <p class="text-xs lg:text-sm text-white">{{prod_c.offer_percent}}</p>
                                </div>
                                {% endif %}
                                
                                <!-- out of stock element -->
                                {% if prod_c.in_stock == 0 %}
                                <div class="absolute top-16 right-6 border border-c_primary py-1 px-2 bg-black"><p class="text-xs lg:text-sm text-white">Out of Stock </p>
                                </div>
                                {% endif %}
                    
                                <div >
                                    <a href="{% url "prod_detail" prod_c.id prod_c.name %}" class="w-[145px] h-[145px] group">
                                        <img src="{{prod_c.img.url}}" alt="" class="h-36 w-32 m-auto" />
                    
                                        <small class="group-hover:text-c_primary">{{prod_c.name | truncatewords:5}}</small>
                                    </a>
                                </div>
                    
                                <div class="price my-2 flex justify-evenly items-center">
                                    <del><small class=" font-bold">৳{{prod_c.discounted_price}}</small></del>
                                    <p class="text-c_primary font-extrabold">৳{{prod_c.price}}</p>
                                    <small class=" md:block">sold:0</small>
                                </div>
                    
                                <div class="ratings mb-2">
                                    <ul class="flex justify-center items-center gap-4">
                                        <li><img src="{% static "img/icon-1.png" %}" alt=""></li>
                                        <li><img src="{% static "img/icon-1.png" %}" alt=""></li>
                                        <li><img src="{% static "img/icon-1.png" %}" alt=""></li>
                                        <li><img src="{% static "img/icon-2.png" %}" alt=""></li>
                                        <li><img src="{% static "img/icon-2.png" %}" alt=""></li>
                                    </ul>
                                </div>
                                
                                <div class=" flex flex-col text-center gap-2">
                                    <a href="{% url "order_now"  prod_c.id prod_c.name %}" class="btn_empty hover:text-white hover:bg-c_primary hover:border hover:border-c_primary ">Order Now</a>
                                    <button value="prod-id" pid="{{prod_c.id}}" pname="{{prod_c.name}}" id="add_to_cart" class=" add_to_cart btn_fill hover:text-black hover:bg-white hover:border hover:border-c_primary ">Add to card</button>
                                </div>
                    
                            </div>

                            {% endfor %}

                            {% else %}

                            <div class="bg-c_primary mt-5 px-4 py-4 rounded-lg shadow-lg ">
                                <h4 class="text-white fon-bold">Sorry, there are no product!</h4>
                            </div>

                            {% endif %}
        
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>

    <!-- full shop catagory ends -->


{% endblock main %}